*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display:flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-top: 0.5%;
}
.title{
    display:flex;
    margin-left: 2%;
}
.title h1{
    font-size: 1rem;
    font-weight: bolder;
    padding-top: 5%;

}
.title img{
    width:30px;
}

hr{
    margin-top:10px;
    border-color:rgba(207, 207, 207,0.2);
}

.nav{
    display:flex;
    margin-top: 15px;
    justify-content: space-between;
    gap:20px;
}

.nav img{
    width:23px;
    margin-top: -3px;
}


.active{
    color:rgb(62, 133, 133);
}

.block{
    width:80%;
    margin:2% auto;

}

.holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2%;
}

.cont{
    margin-top: 2%;
    display:flex;
    width:44%;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    padding:2%;
    border-radius: 12px;
}
.cont .left {
    color:rgb(53, 53, 53);
}
.cont .left .h2{
    font-size:1.1rem;

}
.cont .left .h3{
    font-size:1.1rem;
    margin-top: 3%;
}

.inside{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.inside *{
    font-size: 0.7rem;
}
.cont .right{
    display:flex;
    justify-content: space-between;
    gap:10px;
}
.cont .right svg{
    width:1.2rem;
}
.cont .right svg:hover{
    cursor:pointer;
    animation: test 0.7s ease-in
}
@keyframes test {
    from{
        width:1.2rem;
    }
    to{
        width:1.3rem;
    }
}
@media all and (max-width: 872px){
    .cont{
        width:100%;
    }
}